
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
 


.navigation {
    height: 80px;
    width: 100%;
    background-color:white;
}

#nav-logo{
    height: 60px ;
    width: auto ;
    display: inline;
    margin-left: 60px;
    margin-top: 10px;
}
.nav-items{
    list-style: none;
    display: inline-block;
    margin-left: calc(100% - 600px);
    position: relative;
    bottom: 22.25px;
}
.nav-item{
    display: inline;
    margin: 0 20px;

}
#banner{
    height: 100vh;
    background-image: url(../res/images/cofe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.nav-link{
     color: black;
     text-decoration: none;
     font-size: 1.4em;
}